*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body.sessao2{
    background-color: rgb(51, 51, 51);
    color: white;
}

body.sessao1{
    background-image: url('../imagens/killua-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20rem 0;
    background-position: bottom;
}

.button{
    display: flex;
    justify-content: center;
}

.button a{
    text-decoration: none;
    font-size: 40px;
    color: black;
    background-color: #3F5D7D;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: -5px 2px 3px black;
    font-family: 'oswald', sans-serif;
    transition: 800ms;
}

.sessao1 a:hover{
    background-color: #315072;
}

@media screen and (max-width: 507px){
    body.sessao1{
        background-image: url('../imagens/killua-wallpaper2.jpg');
    }

    .sessao1 a{
        font-size: 25px;
        padding: 2px 7px;
    }
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1000px;
}

.card{
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: 394px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card2{
    margin: 5px;
}

.card .card2 img{
    width: 185px;
    height: 278px;
}

.card .card2 h3{
    text-align: center;
    margin: 5px 0;
}
.card .card2 p{
    text-align: center;
    margin: 5px 0;
}